
.Intro-main{
    background-image: url(../Images/pexels-stefan-stefancik-919606.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* width: 90vw;
    height: 80vh; */
    background-position: center;
    opacity: 0.9;
    margin-top: 3rem;
}
.img-content h1{
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    text-shadow: 4px 4px 4px darkgrey;
}
.img-content h1:hover{
    text-shadow: 4px 4px 4px black;
}
.img-content p{
    text-align: center;
    font-size: 2rem;
    margin: 6rem 0px;
    opacity: 0.8;
}
.btn-intro{
    text-align: center;
}
.quote{
   color: rgb(250, 250, 255); 
   text-align: center;
   font-size: 30px;
   opacity: 0.8;
}
.btn-intro button{
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    padding: 0px 1rem;
    cursor: pointer;
}
.btn-intro button:hover{
    /* background: linear-gradient(black,grey);
    color: lightslategray; */
}
.mini-Icons{
    margin: 2rem 0px;
    text-align: center;
}
.category{
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.shop-watch{
   color: rgb(250, 250, 255); 
    text-align: center;
    font-size: 40px;
   opacity: 0.8;
}
.shop-watch b{
    color: white;
}
.show-now:hover{
    background-color: black;
    color: white;
}
.mini-tag{
    margin: 2.5rem 0px;
    font-size: 1.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.tag{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Styles for small screens (phones) */
@media only screen and (max-width: 767px) {
    .img-content h1{
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        justify-content: center;
        text-shadow: 4px 4px 4px darkgrey;
    }
    .Intro-main{
        margin-top: 1rem;
    }
    .img-content p{
        text-align: center;
        font-size: 1rem;
        margin: 1rem 0px;
        opacity: 0.8;
    }
    .quote{
        color: rgb(250, 250, 255); 
        text-align: center;
        font-size: 25px;
        opacity: 0.8;
     }
     .shop-watch{
        color: rgb(250, 250, 255); 
         text-align: center;
         font-size: 20px;
        opacity: 0.8;
     }
     .btn-intro button{
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: 0px 1rem;
        cursor: pointer;
    }
    .mini-tag{
        margin: 1.5rem 0px;
        font-size: 1rem;
    }
  }
  
  /* Styles for medium screens (tablets) */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .mini-category{

    }
  }
