

.App {
  font-family: sans-serif;
  text-align: center;
  height: "100vh";
  font-size: "50px";
  background-size: "cover";
  background-repeat: "no-repeat";
}
* {
  padding: 0;
  margin: 0;
}

.card {
  border: 1.5px solid black;
  display: inline-block;
  margin: 1rem 1rem;
  padding: 0px 10px;
  width: 24%;
  position: relative;
  box-shadow: 1px 1px 2px grey;
}
.card p {
  padding: 0;
  margin: 5px;
  text-align: center;
  font-size: 20px;
}
.info {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 50px 250px;
}

