/* Styles for small screens (phones) */
@media only screen and (max-width: 767px) {
    .Nav-head {
        font-size: 0.5rem;
        text-align: center;
     }
     #search1 {
        padding: 0.8rem 6rem;
        margin: 1rem 0px;
      }
  }
  
  /* Styles for medium screens (tablets) */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .Nav-head {
        font-size: 2rem;
        text-align: center;
     }
     #search1 {
        padding: 0.8rem 6rem;
      }
  }
  .Nav-head {
    font-size: 2rem;
    text-align: center;
 }
